.popup__close-button {
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url(../../../images/Close_Icon.png);
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
}

@media screen and (max-width: 564px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
    background-size: 20px 20px;
  }
}