.popup__container {
  height: min-content;
  width: 430px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 564px) {
  .popup__container {
    width: calc(100% - 38px);
  }
}