.form__input-container {
  max-width: 358px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 31px 0;
  border: 0;
}

@media screen and (max-width: 450px) {
  .form__input-container {
    padding: 0 0 30px 0;
    width: calc(100% - 44px);
  }
}