.profile__add-button {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  background-image: url(../../../images/add.png);
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
  cursor: pointer;
  padding: 0;
}

@media screen and (max-width: 740px) {
  .profile__add-button {
    width: 100%;
    margin-top: 36px;
  }
}