.card__image {
  border-radius: 10px 10px 0 0;
  max-width: 100%;
  width: 282px;
  height: 282px;
  object-fit: cover;
  object-position: center;
  cursor: zoom-in;
  background-color: #000;
  color: #fff;
  display: block;
}
